* {
  font-family: raleway;
}

@media (min-width: 500px) {
  .navbar-expand-lg .navbar-collapse {
      display: flex!important;
      flex-basis: auto;
      flex-direction: column;}
  }

.titulo {
  text-align: center;
  margin-top: 13px;
}

h1 {
  text-align: center;
  color: black;
  font-size: 35px;
}

.css-navbar {
  width: auto;
  height: 40px;
  padding: 10px;
  margin: 10px 0px 5px 0px;
}
.ul-css-navbar{
gap: 4rem;
}

.dropdown-item {
  margin: 0px 2px 1px 0px;
  padding: 3px 5px 1px 5px;
  color: #b9b4b4 ;
}
.dropdown-menu{
  background-color: #212529;
  color: black;
}
.dropdown-item:hover {
  background-color: #212529;
  color: antiquewhite;
}