.body {
  background-color: antiquewhite;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 30px;
}

.imgprincipal {
  display: flex;
  justify-content: center;
  margin: 10px 10px 15px 10px;
}


/* CLASS BUTTON REGISTRATION */ 
.boton-registro{
  text-align: center;
  margin-bottom: 10px;
}
.btn-registration {
  font-size: 25px;
  text-align: center;
  background-color: #212529;
  color: #b9b4b4; 
}
